In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math as math
import scipy.stats as stats
import statsmodels.api as sm

yearlyDf = pd.DataFrame()
for x in range(1999,2020):
    tempdf = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/{}.csv'.format(str(x)))
    tempdf['Year'] = x
    yearlyDf = pd.concat([yearlyDf,tempdf])
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['ARI'], 'Arizona Cardinals')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['ATL'], 'Atlanta Falcons')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['BAL'], 'Baltimore Ravens')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['BUF'], 'Buffalo Bills')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['CAR'], 'Carolina Panthers')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['CHI'], 'Chicago Bears')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['CIN'], 'Cincinnati Bengals')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['CLE'], 'Cleveland Browns')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['DAL'], 'Dallas Cowboys')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['DEN'], 'Denver Broncos')
    
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['DET'], 'Detroit Lions')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['GNB'], 'Green Bay Packers')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['HOU'], 'Houston Texans')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['IND'], 'Indianapolis Colts')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['JAX'], 'Jacksonville Jaguars')
    
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['KAN'], 'Kansas City Chiefs')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['MIA'], 'Miami Dolphins')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['MIN'], 'Minnesota Vikings')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['NWE'], 'New England Patriots')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['NOR'], 'New Orleans Saints')
    
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['NYG'], 'New York Giants')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['NYJ'], 'New York Jets')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['OAK'], 'Oakland Raiders')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['PHI'], 'Philadelphia Eagles')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['PIT'], 'Pittsburgh Steelers')
    
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['LAC'], 'Los Angeles Chargers')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['SFO'], 'San Francisco 49ers')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['SEA'], 'Seattle Seahawks')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['LAR'], 'Los Angeles Rams')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['TAM'], 'Tampa Bay Buccaneers')
    
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['TEN'], 'Tennessee Titans')
    yearlyDf['Tm'] = yearlyDf['Tm'].replace(['WAS'], 'Washington Commanders')

yearlyDf.drop(['Unnamed: 0', 'Age', 'Pos', 'PassingYds', 'RushingYds', 'ReceivingYds', 'GS', 'G', 'Tgt','Rec','PassingTD','PassingAtt','RushingTD','RushingAtt','ReceivingTD','Int','Fumbles','FumblesLost'],axis=1,inplace=True)

print(yearlyDf)

               Player                     Tm  FantasyPoints  Year
0      Marshall Faulk                    STL         397.90  1999
1      Edgerrin James     Indianapolis Colts         369.90  1999
2         Kurt Warner                    STL         317.32  1999
3       Stephen Davis  Washington Commanders         274.60  1999
4        Eddie George       Tennessee Titans         293.20  1999
..                ...                    ...            ...   ...
615   Ray-Ray McCloud      Carolina Panthers          -2.00  2019
616  Darrius Shepherd      Green Bay Packers          -0.90  2019
617   Jarrett Stidham   New England Patriots          -1.64  2019
618    Michael Walker   Jacksonville Jaguars          -0.50  2019
619     Corey Clement    Philadelphia Eagles          -4.00  2019

[12462 rows x 4 columns]

In [17]:
sosDf = pd.DataFrame()
for x in range(1999,2020):
    tempdf2 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/sos/{}.csv'.format(str(x)))
    tempdf2['Year'] = x
    sosDf = pd.concat([sosDf,tempdf2])

sosDf.drop(['OppPPRFantasyPointsAllowed', 'PPRSOSRank', 'OppStandardFantasyPointsAllowed', 'OppHalfPPRFantasyPointsAllowed', 'HalfPPRSOSRank', 'OppRushingFantasyPointsAllowed', 'RushingSOSRank', 'OppPassingFantasyPointsAllowed', 'PassingSOSRank', 'OppPPRReceivingFantasyPointsAllowed', 'PPRReceivingSOSRank', 'OppHalfPPRReceivingFantasyPointsAllowed', 'HalfPPRReceivingSOSRank', 'OppStandardReceivingFantasyPointsAllowed', 'StandardReceivingSOSRank'], axis=1,inplace=True) 
sosDf.rename(columns = {'Unnamed: 0':'Team'}, inplace = True)
print(sosDf.head())

                   Team  StandardSOSRank  Year
0        St. Louis Rams             31.0  1999
1     Carolina Panthers             30.0  1999
2  Jacksonville Jaguars             29.0  1999
3  Tampa Bay Buccaneers             26.0  1999
4   San Francisco 49ers             28.0  1999

In [38]:
for x in range(0, 2):
    checkYearName = yearlyDf.loc[x, 'Tm']
    for y in range(0, 2):
        checkSOSName = sosDf.loc[y, 'Team']
        if str(checkYearName) == str(checkSOSName):
            print("test")
        #if(yearlyDf.loc[x, 'Tm'] == sosDf.loc[y, 'Team']): #sosDf.loc[y].at["Team"]):
            #print("test")